<div class="content">
    <div class="image">
        <img class="imgFundo" src="./../../../assets/fisio1.svg" alt="">
        <!-- <img class="logoFisio" src="./../../../assets/logoFisioGet.svg" alt="logo"> -->
    </div>
    <div class="text">
        <p>Com os melhores profissionais
            <span>Fisioterapeutas Especializados</span> na sua patologia.
            </p>
    </div>
    <div class="image">
        <img class="imgFundo" src="./../../../assets/fisio2.svg" alt="">
    </div>
</div>