<div class="content banner">
    <div class="bg"></div>
    <div class="text">   
        <p>Unidades <span>modernas e fácies</span> de chegar</p>
        <p>Nossas unidades são novas, e com excelente localização para facilitar sua chegada. </p>
    </div>
    <div class="unidades">
        <div class="unidade unidade1">
            <p class="title">Unidade Alphaville</p>
            <p class="subtitle">Alameda Grajaú, 98 18° andar, Alphaville Industrial </p>
            <p class="subtitle">Barueri/SP 06454-050</p>
        </div>

        <div class="unidade unidade2">
            <p class="title">Unidade Pinheiros</p>
            <p class="subtitle">Avenida Brigadeiro Faria Lima, 1461, Torre Sul
                6° andar</p><p class="subtitle"> Pinheiros</p>
            <p class="subtitle">São Paulo/SP 01452-002</p>
        </div>
         
        <div class="unidade unidade3">
            <p class="title">Unidade Santana </p>
            <p class="subtitle">Rua voluntários da pátria, 2677 Santana</p>
            <p class="subtitle">São Paulo/SP 02401-100</p>
        </div>

        <div class="horarios">
            <p class="horario">Horário das Unidades:</p>
            <p class="hora">Segunda - Sexta: 7:00 - 21:00 | Sábado: 7:00 - 14:00</p>
        </div>
    </div>
</div>