<header>
    <div class="nav">
        <div class="nav-left">
            <div class="navLogo">
                <img src="./../../../assets/logoFisioGet.svg" alt="">
            </div>
            <div class="fundoLogo">
                <img src="./../../../assets/fundoLogo.svg" alt="">
            </div>
        </div>
        
        <div class="nav-rigth">
            <button> Conheça nossas unidades</button>
            <div class="sociais">
                <a href="#"><img src="./../../../assets/facebook.svg" alt=""></a>
                <a href="https://www.instagram.com/fisioget/"><img src="./../../../assets/instagram.svg" alt=""></a>
                <a href="#"><img src="./../../../assets/whatsapp.svg" alt=""></a>
            </div>
        </div>
    </div>

    <div class="title">
        <p><span>Programa de tratamento</span> especializado em pré e pós-operatório Fisioterapia Domiciliar e Unidades</p>
    </div>

    <div class="subTitle">
        <p>Tem pedido médico e precisa de ajuda?</p>
    </div>

    <div class="actionButton">
        <button class="buttonAction">
            <p> Envie a foto do pedido médico </p>
            <div class="share">
                <img src="./../../../assets/seta.svg" alt="share">
            </div>
        </button>
    </div>

    <div class="smallTitle">
        <p>Tire uma foto do pedido médico e nos encaminhe no Whatsapp, retornamos com os melhores preços para você!</p>
    </div>

    <div class="backgroundHeader">
        <img src="./../../../assets/fundoHeader.svg" alt="Fundo">
    </div>

</header>