<div class="content">

    <div class="fundoCombo">
        <img src="./../../../assets/fundoMassagem.svg" alt="">
    </div>

    <div class="contentText">
        <div class="infos">
            <p>Faça fisioterapia sem estresse no conforto da sua casa.</p>
            <p>Fácil e pratico! É só agendar o <span>atendimento domiciliar</span></p>
            <div class="button">
                <button>
                    Envie a foto do pedido médico
                </button>
            </div>
            <p>
                Tire uma foto do pedido médico e nos encaminhe no Whatsapp, retornamos com os melhores preços para você!
            </p>
        </div>
        <div class="image">
            <img src="./../../../assets/massagem.svg" alt="massagem">
        </div>
    </div>
</div>



<app-unidades></app-unidades>

<div class="content">
    <div class="item">
        <img src="./../../../assets/dumbbells.svg" alt="">
        <p class="title">TODOS RECURSOS NECESSÁRIOS</p>
        <p class="subtitle"> Profissionais equipados com os melhores aparelhos
            Tudo que tem em uma clinica levamos ate você!</p>
    </div>
    <div class="item">
        <img src="./../../../assets/qualidade.svg" alt="">
        <p class="title">QUALIDADE EM PRIMEIRO LUGAR</p>
        <p class="subtitle"> Nossos profissionais seguem padrões rigorosos de qualidade,
            com embasamento cientifico para entregar a você resultados confiáveis e de altíssima precisão.</p>
    </div>
</div>