.footer {
    width: 100%;
    height: 100px;
    padding-top: 10px;
    background-color: #340C55;
}

.sociais {
    padding-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sociais img {
    margin-left: 10px;
}

.direitos {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}